<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<form action="/updategroup" method="post">
    <input type="text" name="name" th:value="${cat.name}">
    <input type="hidden" name="id" th:value="${cat.id}">
    <input type="text" name="shortName" th:value="${cat.shortName}">
    <button class="btn btn-danger">EDIT</button>
</form>
</body>
</html>